/* GERAL */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
}

body {
    background: #BCCDD0;
}



/* IMAGENS */

#imagem-mobile, div-principal {
    width: 350px;
}

#imagem-desktop {
    display: none;
}

/* TEXTO */

h1 {
    font-family: Josefin Sans;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    color: #111313;
}

h2 {
    font-family: Overpass;
    font-size: 24px;
    font-weight: 500;
    color: #111313;
}

h3 {
    font-family: Overpass;
    font-size: 20px;
    font-weight: 500;
    color: #DFDFD6;
}

p {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
    p.date {
        font-family: Overpass;
        font-size: 16px;
        font-weight: 500;
}



/* H MENU */

button {
    border: hidden;
    background-color: transparent;
}

#hmenu {
    align-self: flex-end;
    visibility: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    width: fit-content;
    gap: 15px;
    padding: 10px 15px;
    margin: 68px 0 7px 0;
    border-radius: 15px;
    background-color: #696F5A;
}



/* SEÇÕES */

menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    gap: 0;

    /* width: 875px; */
    /* height: 491.63px; */
    /* top: 318px; */
    /* left: 428px;  */
}

#div-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #DFDFD6;
    width: 350px;
    padding: 25px 30px;
    border-radius: 0 0 30px 30px;
}

#div-texto {
    gap: 10px;
}



/* CLASSES */

.row {
    display: flex;
    flex-direction: row;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* RESPONSIVIDADE */

@media screen and (min-width: 782px) {
    #imagem-mobile {
        display: none;
    }
    #imagem-desktop {
        display: initial;
    }
    #imagem-desktop, #div-principal {
        height: 490px;
    }
    #div-principal {
        width: 584px;
        border-radius: 0 30px 30px 0;
    }
    section {
        flex-direction: row;
    }
    #div-texto {
        gap: 30px;
    }
}